.contato-mapa {
    grid-column: 2;
}

.contato-mapa img {
    height    : 100%;
    object-fit: cover;
}

.contato-info {
    grid-column: 3;
}

.contato-info li {
    font-family  : Helvetica, Arial, sans-serif;
    margin-bottom: 1rem;
}

.contato-info li::before {
    background-color: #fb5;
    content         : "";
    display         : inline-block;
    height          : 10px;
    margin          : 0 10px;
    width           : 15px;
}

[data-semana]::after {
    background-color: #e54;
    border-radius   : 50%;
    border          : 1px solid #000;
    content         : "";
    display         : inline-block;
    height          : 12px;
    margin-left     : 4px;
    width           : 12px;
}

[data-semana].open::after {
    background-color: #3f4;
}