.copy {
    background-color: #eb5;
    grid-column     : 3 / -1;
    margin          : 2rem 0 3rem;
}

.copy p {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bolder;
    padding    : 20px;
}

