.header {
    grid-column: 3 / -1;
}

.header-menu {
    background-color: #fb5;
    margin          : 2rem 0;
    padding         : 10px;
    width           : 100%;
}

.header-menu>ul {
    display  : flex;
    flex-wrap: wrap;
    gap      : 10px;
}

.header-menu li a {
    color         : #222;
    display       : inline-block;
    font-family   : 'IBM Plex Mono', monospace;
    font-weight   : bolder;
    font-size     : .875rem;
    letter-spacing: .1em;
    padding       : 10px;
    text-transform: uppercase;
}