.tooltip {
   background   : rgba(0, 0, 0, 0.6);
   box-shadow   : 0 0 0 2px #FB5, 0 0 0 6px rgba(0, 0, 0, 0.6);
   border-radius: 2px;
   color        : #fff;
   font-family  : "IBM Plex Mono", monospace;
   font-weight  : bolder;
   font-size    : .875rem;
   max-width    : 200px;
   padding      : .5rem;
   position     : absolute;
   z-index      : 500;
}