.container {
   @include devices(l) {
      background-color: darkcyan;
   }

   @include devices(t) {
      background-color: darkgoldenrod;
   }

   @include devices(m) {
      background-color: darkblue;
   }
}